---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Acerca de mí</div>
  </div>

  <div class="mb-10 text-justify">
    Soy una persona dinámica y entusiasta, con pasión por iniciar y desarrollar proyectos. 
    Me motiva la mejora continua y siempre busco nuevas formas de hacer las cosas mejor y más 
    eficiente. Creo en el poder del trabajo en equipo y disfruto colaborar para alcanzar 
    objetivos en común. Me caracterizo por tomar iniciativa, adaptarme con rapidez y mantener una 
    actitud positiva frente a los retos.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Doctorado en Gestión Estratégica de Negocios"
      subtitle="2026 — presente. Universidad Autónoma de Tamaulipas, México"
    />
    <TimeLineElement
      title="Maestría en Administración en Área de Alta Dirección"
      subtitle="2023 — 2024 Instituto de Estudios Superiores de Tamaulipas, México"
    />
    <TimeLineElement
      title="Diplomado en Logística y Cadena de Suministro Empresarial"
      subtitle="2019 KEDGE Business School, Francia"
    />
    <TimeLineElement
      title="Licenciado en Ingeniería Industrial y en Sistemas"
      subtitle="2015 — 2020 Instituto Tecnológico y de Estudios Superiores de Monterrey, México"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Oficina de Proyectos y PMO"
      subtitle="2020 — presente. Plomería Universal, Tamaulipas, México"
    >
      Gestión de proyectos de mejora continua y optimización de procesos en la empresa.
      Desarrollo completo de página web con e-commerce integrado para venta de productos.
      Implementación de sistema CRM de código abierto para gestión de clientes, operaciones y demás operaciones de soporte.
      Plomería Universal es una empresa dedicada a la venta de productos y servicios de plomería y materiales.
    </TimeLineElement>
    <TimeLineElement
      title="Consultoría de Proyectos y Operaciones"
      subtitle="2025 Xphere Technology Company LLC, Estados Unidos (Remoto)"
    >
      Consultoría en gestión de proyectos y operaciones para operaciones internas.
      Desarrollo de planes de negocio, estrategias de ventas y consultoría de talento humano.
      Xphere Technology Company es una empresa dedicada al desarrollo de inteligencia de negocio de portafolio diverso.
    </TimeLineElement>
    <TimeLineElement
      title="Proyecto de Optimización. Mejora Continua."
      subtitle="2019 — 2020 Flex LTD, Jalisco, México"
    >
      Proyecto de mejora continua y optimización de procesos en la planta de manufactura.
      Desarrollo e implementación de sistema de empaquetado.
      Flex LTD es una empresa dedicada a la manufactura. Fabrican productos plásticos y componentes diversos.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
